﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Web2.master" AutoEventWireup="true" CodeBehind="About.aspx.cs" Inherits="shoppingSite.About" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="Default.aspx">Home</a>
        </li>
        <li class="breadcrumb-item active">About Us</li>
    </ol>
    <section class="hand-crafted py-5">
        <div class="container">
            <div class="inner-sec py-md-5 px-lg-5">
                <h3 class="tittle text-center"><span class="sub-tittle">About.</span> Welcome To Our Website</h3>
                <p class="mb-4 text-center px-lg-4"> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla mollis dapibus nunc, ut rhoncus turpis sodales quis. Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
            </div>
        </div>
    </section>
    <!-- //ab -->
    <!--/ab -->
    <section class="about py-md-5 py-5">
        <div class="container py-md-3">
            <h3 class="tittle text-center">What We Offer</h3>
            <div class="feature-grids row">
                <div class="col-md-4 gd-bottom mt-lg-4">
                    <div class="bottom-gd p-lg-5 p-4">
                        <span class="fa fa-truck" aria-hidden="true"></span>
                        <h3 class="my-3">
                            FREE SHIPPING</h3>
                        <p>Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
                    </div>
                </div>
                <div class="col-md-4 gd-bottom mt-lg-4">
                    <div class="bottom-gd2-active p-lg-5 p-4">
                        <span class="fa fa-bullhorn" aria-hidden="true"></span>
                        <h3 class="my-3">FREE RETURN</h3>
                        <p>Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
                    </div>
                </div>
                <div class="col-md-4 gd-bottom mt-lg-4">
                    <div class="bottom-gd p-lg-5 p-4">
                        <span class="fa fa-gift" aria-hidden="true"></span>
                        <h3 class="my-3">MEMBER DISCOUNT</h3>
                        <p>Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- //ab -->
    <!-- /hand-crafted -->
    <section class="hand-crafted py-5">
        <div class="container py-md-3">
            <div class="row banner-grids">
                <div class="col-md-6 banner-image">
                    <div class="effect-w3">
                        <img src="images/about.jpg" alt="" class="img-fluid image1">

                    </div>

                </div>
                <div class="col-md-6 last-img pl-lg-5 p-3">
                    <h3 class="tittle mb-lg-5 mb-3"><span class="sub-tittle">THE SEASON BEGINGS </span>PROMOTION SALE OFF 50%</h3>
                    <p class="mb-4"> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla mollis dapibus nunc, ut rhoncus turpis sodales quis. Integer sit amet mattis quam, sit amet ultricies velit. Praesent ullamcorper dui turpis.</p>
                    <ul class="tic-info list-unstyled">
                        <li>

                            <span class="fa fa-check mr-2"></span> Integer sit amet mattis quam

                        </li>
                        <li>

                            <span class="fa fa-check mr-2"></span> Praesent ullamcorper dui turpis

                        </li>
                        <li>

                            <span class="fa fa-check mr-2"></span> Integer sit amet mattis quam

                        </li>
                        <li>

                            <span class="fa fa-check mr-2"></span> Integer sit amet mattis quam

                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </section>
</asp:Content>
