﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="shoppingSite.admin.Default" %>


    


<!DOCTYPE html>
<html lang="en" >

<head runat="server">
  <meta charset="UTF-8">
  <title>Admin Login</title>
  
  
  
      <link rel="stylesheet" href="login/css/style.css">

  
</head>

<body>
    
 <form id="form1" >
    
     
        
  <div class="login-page">
  <div class="form">
      <h3>Login here...</h3>
   
    <form runat="server" class="login-form">
        <asp:Label runat="server" ID="msg_Login"></asp:Label>
      <asp:TextBox ID="email_e"  runat="server" placeholder="username"></asp:TextBox>
      <asp:TextBox TextMode="Password"  ID="password_e"  runat="server" placeholder="password"></asp:TextBox>
      <asp:button BackColor="LightGreen" runat="server" id="sigInBtn" OnClick="sigInBtn_Click" Text="SignIn"/>
      <p class="message">Not registered? <a href="Register.aspx">Create an account</a></p>
    </form>
  </div>
</div>
        </form>
          <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

  

    <script  src="login/js/index.js"></script>




</body>

</html>
